<div class="container">
  <div class="row d-flex flex-column">
    <div class="row d-flex justify-content-center mb-5">
      <h1>ご協力ありがとうございました！</h1>
    </div>
    <div class="row d-flex justify-content-center mb-5">
      <div class="form-row d-flex flex-column mr-5">
          <div class="form-row">
            <div class="col-3 form-group ml-5">
              <p>作品名</p>
            </div>
            <div class="col-6 form-group">
              <%= @game_inquiry['title'] %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4 form-group ml-5">
              <p>プラットフォーム</p>
            </div>
            <div class="col-5 form-group">
              <%= @game_inquiry['platform'] %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 form-group ml-5">
              <p>制作会社</p>
            </div>
            <div class="col-5 form-group">
              <%= @game_inquiry['production_company'] %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-7 form-group ml-5">
              <p>何が気になっているのか教えてください！</p>
            </div>
            <div class="col-5 form-group ml-5">
              <%= @game_inquiry['introduction'] %>
            </div>
          </div>
          <div class="row d-flex justify-content-center mb-5 mt-5">
            <h4>こちらの内容で受付しました。</h4>
          </div>
      </div>
    </div>
  </div>
</div>

    