<h1>お問い合わせ詳細</h1>

<p>作品名</p>
<%= @game_inquiry.title %>

<p>プラットフォーム</p>
<%= @game_inquiry.platform %>

<p>制作会社</p>
<%= @game_inquiry.production_company %>

<p>本文</p>
<%= @game_inquiry.introduction %>