<%= image_tag 'トップ画像.png' %>
<h2>投稿されたゲーム一覧</h2>

<p>新規の投稿されたゲーム作品３作品</p>


<h2>最新ゲーム情報一覧</h2>

<p>新規に投稿されたゲーム情報記事３作品</p>


<p>↑これらは右側に表示される</p>

<p>サイドバーに名前検索、ロゴ、ジャンルとプラットフォームジャンルの検索タグがある</p>

<%= link_to "運営用", new_admin_session_path %>