<div class="container">
  <div class="row">
    <div class="row text-center">
      <h1>会員一覧</h1>
    </div>
    <table class="table m-5d-flex justify-content-center", style="color: #ffff38;">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <th><%= link_to user.name, admin_user_path(user) %></th>
          <th><%= user.email %></th>
          <th>
            <% if user.is_deleted == false %>
              <p class = "text-success">有効</p>
            <% else%>
            　<p class = "text-secondary">退会済</p>
            <% end %>
          </th>
        </tr>
      <% end %>
    </table>
    
    <%= paginate @users %>
  </div>
</div>