<h1>運営に伝えたいことフォーム一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% @report_inquiry.each do |report_inquiry| %>
      <tr>
        <td><%= report_inquiry.id %></td>
        <td><%= link_to admin_report_inquiry_path(report_inquiry.id) do %><%= report_inquiry.content %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
